<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAercckMjd2Qn6fwP3EYjoomSTHZSe-5p8</string>
	<key>GCM_SENDER_ID</key>
	<string>656925308410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myPortfolio</string>
	<key>PROJECT_ID</key>
	<string>company-portfolio-c68da</string>
	<key>STORAGE_BUCKET</key>
	<string>company-portfolio-c68da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656925308410:ios:e4cbe63d8f0028ba48a043</string>
</dict>
</plist>